/**
 * @name SimpleEnhancements
 * @description Adds simple animations and enhancements to Discord's design by also adding a redesigned go to present message button.
 * @author ikeman2003
 * @version 1.5.0
 * @website https://github.com/ikeman2003/BetterDiscordEnhancements
 * @source https://github.com/ikeman2003/BetterDiscordEnhancements/tree/main/themes
 * @updateUrl https://raw.githubusercontent.com/ikeman2003/BetterDiscordEnhancements/main/themes/SimpleEnhancements.theme.css
 */

 /**Spin Discord Home Button on click**/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pill-L_aLMQ.bd-selected + .listItemWrapper-3d87LP .homeIcon-r0w4ny {
    animation: spin 0.8s ease;
}

/* settings/deafen/mute buttons animated */
.button-12Fmur:hover .contents-3ca1mk {animation: UserModalButtons 0.5s normal ease;}
  .container-YkUktl .noWrap-hBpHBz {width: 100px;opacity: 1;}
  .button-12Fmur {transition: 0.2s;}
  .button-12Fmur:hover {padding-bottom: 0px;transition: 0.2;}
  @keyframes UserModalButtons {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }



/* Pop-out Animation */ 
.privateChannels-oVe7HL, .menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}

/*Uses Popup animation on Channel DM's (plugin) and channel list*/
.privateChannels-oVe7HL, .scroller-1ox3I2 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}

@keyframes custom-menu-animation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/* Emoji Auto-Fill Animation */
.base-2v-uc0 {
    transition: all 0.5s;
}
.base-2v-uc0:hover {
    transition: all 0s;
    transform: scale(1.02);
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #5865F2;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* Jump to Present+ by Lonk#6942 */
@keyframes pop {
    from {
        transform: translateY(30px);
        opacity: 0.4;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.newMessagesBar-1hF-9G.barBase-3xxDXu {
    margin-left: auto;
    margin-top: auto;
    align-self: flex-end;
    justify-self: flex-end !important;
    position: absolute !important;
    z-index: 998;
    bottom: 78px;
    right: 22px;
    padding: 8px 8px !important;
    width: 25.5px;
    height: 20px;
    background-color: #5865F2;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    animation: pop 0.2s ease-in;
    transition: font-size 0s, color 0.2s 0.1s, padding 0.4s, width 0.1s 50ms;
    opacity: 1;
}

.newMessagesBar-1hF-9G.barBase-3xxDXu:hover {
    padding: 8px 18px !important;
    width: 105px;
    transition: font-size 0s, color 0.2s 0.1s, padding 0.4s, width 0.1s 50ms;
}

.newMessagesBar-1hF-9G.barBase-3xxDXu > button {
    font-size: 0px;
    color: transparent !important;
    transition: color 0.3s 0.1s, padding 0.4s;
}

.newMessagesBar-1hF-9G.barBase-3xxDXu:hover > button {
    font-size: 14px;
    color: #ffffff !important;
    transition: color 0.3s 0.1s, padding 0.4s;
}

.barButtonIcon-bMvzp2 {
    order: -1;
    margin: 0;
    margin-right: 0;
    margin-left: 6.5px;
    transition: all 0.2s;
    color: #fff !important;
}

.newMessagesBar-1hF-9G.barBase-3xxDXu:hover .barButtonIcon-bMvzp2 {
    margin-right: 5px;
    margin-left: 0;
}

.barButtonBase-Sk2mdB {
    padding: 0;
}

.barButtonMain-2GIx4o,
.barButtonMain-2GIx4o * {
    display: none !important;
}

/* Messages Slide In Chat */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.message-2CShn3 {
  animation: slide-up 0.4s ease;
}

/* Remove Help Icon Button */
.toolbar-3_r2xA [aria-label="Help"i]{
    display: none;
}

/* Move the Search Bar to the top right */
.search-39IXmY {
    order: 1;
}

/* chat box buttons animated*/
.buttons-uaqb-5  .button-f2h6uQ:hover .contents-3ca1mk {animation: UserModalButtons 0.5s normal ease;}
    .buttonContainer-2lnNiN .button-f2h6uQ {opacity: 1;}
    .buttons-uaqb-5  .button-f2h6uQ {transition: 0.2s;}
    .buttons-uaqb-5  .button-f2h6uQ:hover {padding-bottom: 0px;transition: 0.2;}
      @keyframes UserModalButtons {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

/* Animation on channel select */
li.containerDefault-YUSmu3.selected-2TbFuo .mainContent-20q_Hp {animation: UserChannelButtons 0.5s normal ease;}
@keyframes UserChannelButtons {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}


/* Return Old Italic Font */
@font-face {
    font-family: 'Old Italics';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/b22a047b24393561750b742d8d88a48a.woff2) format("woff2");
}
@font-face {
    font-family: 'Old Italics';
    font-style: bold;
    font-weight: 700;
    src: url(/assets/3d0099ecfaf7718dad3fb6cb3c0ee650.woff2) format("woff2");
}
.markup-eYLPri em, .italics-1HfeXG {
    font-family: 'Old Italics';
    font-style: oblique !important;
}